<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@nkDOT（エヌケードット）｜ドット絵ブランド・公式サイト</title>
    <meta name="google-site-verification" content="SbXVTHqhabPkGXe_83q1YfKjnPNpXpyB5I27dWk5gVU" />
    <meta name="description" content="ドット絵ブランド @nkDOT（エヌケードット）公式サイト。Windowsのペイントで、1ドットずつ。効率を捨てた、その先へ。不便の中に、美学はある。">
    <meta name="author" content="@nkDOT">
    <meta name="robots" content="index, follow">
    <!-- OGP -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="@nkDOT（エヌケードット）｜ドット絵ブランド・公式サイト">
    <meta property="og:description" content="ドット絵ブランド @nkDOT（エヌケードット）公式サイト。Windowsのペイントで、1ドットずつ。効率を捨てた、その先へ。不便の中に、美学はある。">
    <meta property="og:url" content="https://nkdot-works.github.io/">
    <meta property="og:site_name" content="@nkDOT（エヌケードット）">
    <meta property="og:image" content="https://nkdot-works.github.io/images/ogp.png">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <!-- x -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@nkDOT（エヌケードット）｜ドット絵ブランド・公式サイト">
    <meta name="twitter:description" content="ドット絵ブランド @nkDOT（エヌケードット）公式サイト。Windowsのペイントで、1ドットずつ。効率を捨てた、その先へ。不便の中に、美学はある。">
    <meta name="twitter:image" content="https://nkdot-works.github.io/images/ogp.png">
    <link rel="canonical" href="https://nkdot-works.github.io/">
    <link rel="icon" href="./favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "@nkDOT（エヌケードット）",
        "url": "https://nkdot-works.github.io/",
        "description": "ドット絵ブランド @nkDOT（エヌケードット）公式サイト。Windowsのペイントで、1ドットずつ。効率を捨てた、その先へ。不便の中に、美学はある。",
        "logo": "https://nkdot-works.github.io/images/ogp.png",
        "sameAs": [
          "https://x.com/nkDOT_0503",
          "https://suzuri.jp/nkDOT"
        ]
      }
    </script>
  </head>

  <body class="body-layout">