<%- include('./partials/_head') %>
<main class="p-top typewriter">

  <h1 class="top-text" aria-label="こんにちは。@nkDOTを検索したね。ありがとう。">
    <span aria-hidden="true">こ</span>
    <span aria-hidden="true">ん</span>
    <span aria-hidden="true">に</span>
    <span aria-hidden="true">ち</span>
    <span aria-hidden="true">は</span>
    <span aria-hidden="true">。</span>
    <span aria-hidden="true">@</span>
    <span aria-hidden="true">n</span>
    <span aria-hidden="true">k</span>
    <span aria-hidden="true">D</span>
    <span aria-hidden="true">O</span>
    <span aria-hidden="true">T</span>
    <span aria-hidden="true">を</span>
    <span aria-hidden="true">検</span>
    <span aria-hidden="true">索</span>
    <span aria-hidden="true">し</span>
    <span aria-hidden="true">た</span>
    <span aria-hidden="true">ね</span>
    <span aria-hidden="true">。</span>
    <span aria-hidden="true">あ</span>
    <span aria-hidden="true">り</span>
    <span aria-hidden="true">が</span>
    <span aria-hidden="true">と</span>
    <span aria-hidden="true">う</span>
    <span aria-hidden="true">。</span>
  </h1>
</main>
<%- include('./partials/_footer') %>
<%- include('./partials/_foot') %>