<%- include('./partials/_head') %>
<%- include('./partials/_header') %>
<main class="p-top">
    <h1 class="top-text">こんにちは。検索ありがとう。何もないよ。</h1>
</main>
<%- include('./partials/_footer') %>
<%- include('./partials/_foot') %>